.profile {
  padding: 0px;
}

.profile h3 {
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 20px;
  color: #666666;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
 margin-top: 30px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
}
.info{
    padding-left: 8px;
}
.info h4 {
  font-size: 14px;
  margin: 0;
}

.info p {
  font-size: 12px;
  color: gray;
  margin: 0;
}

.desc {
  font-size: 12px;
  color: #666;
  line-height: 1.5;
  margin-top: 30px;
}
.avatar-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.camera-icon {
  position: absolute;
  bottom: -9px;
  right: -9px;
  width: 20px;
  height: 20px;
  background: #6c5ce7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-icon i {
  color: #fff;
  font-size: 10px;
}
